<html>
	<head>
	</head>

	<body>
		<h2>Hi! Let's search for some cool movie themes in IMDB, <br>
		the biggest movie database on the web!</h2>
		<form action='/return_movies' method='POST'>
		<label for="theme">Search movie term <input type="text" id="theme" name="theme" placeholder="Ships">
		<button type="submit" name="return_movies">Submit</button>
		</form>
	</body>


</html>



